body{
	background-color: pink;

}
table{
	width: 100%;
	border: 5px solid gray;
	border-collapse: collapse;
	caption-side: top;
}
td,th{
	border: 5px solid gray;
}
	table tr:nth-child(odd){	
		background-color: white;

	}

	table tr:nth-child(even){
		background-color: salmon;
	}

	table tr th{
		background-color: gray;
		color: white;
	}
	table tr:hover{
		background-color: lightcoral;
		color: white;
	}

 
